.footer{
    background-color: #191716;
    color: #D7D7D7;
    text-align: center;
}

.socialLink{
    display: flex;
    justify-content: center;
    padding: 8px;
}

.icon{
    padding: 10px;
}

.iconImg:hover  {
    filter: none;
}

.iconImg{
    max-width: 70%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.seperateLine{
    margin: auto;
    width: 60%;
}

.copyright{
    font-weight: normal;
    font-size: small;
    padding: 15px;
}

@media(max-width: 450px){
    .iconImg{
        max-width: 100%;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    .copyright{
        font-size: x-small;
    }
}